Source/PUBLICACAO/NGS/NGS.Web.UI/Service References/LerPeso/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CapturarPeso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TipoDaBalanca" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="DTR" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="RTS" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="ReadBuffer" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ReceivedBytes" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Porta" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="BaudRate" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="DataBits" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="pParity" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="pStopBits" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapturarPesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CapturarPesoResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>